/* Color styles for dark mode.
 * Adjust the colors as necessary to harmonize with the palette.
 */

body.dark-mode {
  background-color: #202a32; /* bg */
  color: #eaf2ef;            /* text */
}

/* Adjusts the color of titles in dark mode */
body.dark-mode h1,
body.dark-mode h2,
body.dark-mode h3,
body.dark-mode h4,
body.dark-mode h5,
body.dark-mode h6,
body.dark-mode .site-title,
body.dark-mode .f2 {
  color: #912c53 !important;
}

/* Links in dark mode */
body.dark-mode a {
  color: #A0DAA9 !important;
}

/* Navigation and footer with the same background as the body */
body.dark-mode .site-header,
body.dark-mode .site-footer {
  background-color: #202a32;
}

