<!-- Dark/Light mode toggle. Insert this partial in your header -->
<div class="js-toggle-wrapper">
  <div class="js-toggle">
    <div class="js-toggle-track">
      <!-- icon for dark mode -->
      <div class="js-toggle-track-check">
        <span aria-hidden="true">🌙</span>
      </div>
      <!-- icon for light mode -->
      <div class="js-toggle-track-x">
        <span aria-hidden="true">☀️</span>
      </div>
    </div>
    <!-- thumb element moves left/right to indicate current state -->
    <div class="js-toggle-thumb"></div>
    <!-- screen-reader only checkbox for accessibility -->
    <input class="js-toggle-screenreader-only" type="checkbox" aria-label="dark and light">
  </div>
</div>
